<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рахунки</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Рахунки</h1>
    <form id="bills-form">
        <label for="bill">Назва рахунку:</label>
        <input type="text" id="bill" required>
        <label for="bill-cost">Сума:</label>
        <input type="number" id="bill-cost" required>
        <button type="submit">Додати</button>
    </form>
    <button onclick="navigateBack()">Назад</button>
    <ul id="bills-list"></ul>
    <script src="../scripts/рахунки.js"></script>
</body>
</html>
